body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
}

h1 {
    font-size: 50px;
}

.top-banner {
    display: flex;
    margin-top: 150px;
}

.banner {
    background-image: url(images/shapes/Frame_58_.png);
    width: 1440px;
    height: 600px;
    background-repeat: no-repeat;
}

.half-width {
    width: 40%;
    padding-left: 7%;
}

.half-width img {
    width: 100%;
}

.orange {
    background: -webkit-linear-gradient(#FBA24F, #ff1e1e);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.grey {
    color: rgb(34, 34, 34);
}

.button {
    text-decoration: none;
    background-color: #fa6400;
    background-image: linear-gradient(#e2903f, #ff1e1e);
    border-radius: 30px;
    padding: 20px 40px;
    color: white;
    font-weight: 700;
}

.new-text {
    width: 50%;
    padding-left: 50%;
    padding-right: 15%;
    padding-bottom: 15%;
    line-height: 25px;
}

h2 {
    font-size: 35px;
}

.center {
    text-align: center;
    font-size: 45px;

}

.flexible-container {
    display: flex;
    margin-bottom: 100px;
}

.experience-item {
    width: 90%;
    margin-bottom: 5%;
    margin-top: 3%;
    margin-left: 3%;
    margin-right: 3%;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    padding-bottom: 10px;
    box-shadow: 10px 10px 20px grey;
    border-radius: 30px;
}

.socials {
    margin-left: 2%;
    margin-right: 2%;
    padding-left: 10%;
    padding-right: 10%;
}

.footer-style {
    background-color: black;
    text-align: center;
    text-color
}

.txt-color {
    color: white;
    padding: 5%;
}

#p {
    color: lightskyblue;
}