body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
}

h1 {
    font-size: 50px;
}

.top-banner {
    display: flex;
    margin-top: 200px;
}

.half-width {
    width: 40%;
    padding-left: 7%;

}

.half-width img {
    width: 100%;
}